################################################################################################################################################################

# @project        Toto|Miam
# @file           .gitignore
# @author         Lucas Brémond <lucas.bremond@gmail.com>
# @license        MIT License

################################################################################################################################################################

.DS_Store
files/settings.json
ld
out/
tmp/
thirdparty/*

################################################################################################################################################################
